<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ccnuai.panlong.mapper.ChapterMapper">


    <select id="queryChapterById" resultType="com.ccnuai.panlong.pojo.entity.Chapter">
        SELECT * FROM chapter
        WHERE book_id = #{bookId}
        ORDER BY chapter_path
    </select>
</mapper>